<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>关于我们</title>

  <body>
    <br>
    <br>
    <hr>
    <hr>
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="index.html">同袍工作室</a>
    <br>
    <br>
    <hr>
    <hr>
	<h1>团结协作，共同前进——安卓工作室</h1>

		<h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp作为我院的科技类社团之一，安卓工作室有他独有的特色。
		<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp他的创始人是李续，当初的创始理念是使加入工作室的每一个成员都能学到自己想学的技能。工作室不限制每个人的发展方向，只要你想学，就会有人指导，他给学员提供学习的场地，学习的设备，注重培养每一个人的自学能力。</br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我们的特点是：
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<li>
        团结：每一个人都把工作室当成自己的家，有什么问题一起讨论，共同进步.</li>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<li>奋进：每个学员都在不停的学习，首先他们都定了自己的方向，然后奔着自己的方向有目地的进行学习。</li>工作室的主要方向有：java、web、python框架、Linux等。并且大部分成员熟练掌握Linux的运用。现在已有的方向有Android、JAVA web、Python、 linux。</li>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&<li>创新：在I:T行业里，创新是一个十分重要的技能。因此团队有意识的鼓励成员具有创新意识，也培养出一批具有创新意识的人。</li></h3>


  

</body></html>
