<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>友好外交</title>

  <body>
    <br>
    <br>
    <hr>
    <hr>
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="index.html">同袍工作室</a>
    <br>
    <br>
    <hr>
    <hr>
	<h1>友站？？？有么？？？暂时还没！</h2>


  

</body></html>