<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>友好外交</title>
    <style type="text/css">
        <!--
        .cls{
            border:pink 1px solid;
            
            width:600px;
            height:100px;
        }
        .cls1{
            border:black 1px solid;
           
            width:600px;
            height:150px;
        }
        --!>
        </style>
</head>
  <body>
    <br>
    <br>
    <hr>
    <hr>
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="index.html">同袍工作室</a>
    <br>
    <br>
    <hr>
    <hr>
    <form  action=""method="post">
        {%csrf_token%}
        <center>
            {%for mess in message%}
            留言展示：{{mess.email}}
            {{mess.content}}<br>    
            {%endfor%}
            {%if error%}
            <span style="color:red">you must input you true Emial</span>
            {%endif%}
            &nbsp;&nbsp; E-mail:<input type="text"name="Email"><br><br>
        &nbsp;留言板 <input class="cls1"type="textarea"name="content"><br>
        <input  type="submit" value="留言"/></center>
    </form>

  

</body></html>
