{%include "base.html"%}
{%load markdown_deux_tags%}
        {%if blog%}
        <h2> {{blog.title}}</h2>     
        <h4> <a href="/user?pid={{blog.username}}"/>
                {{blog.username}}</a></p>
        </h4>

        {{blog.time}}
        {%if edit%}
        <a href="/updateblog?pid={{blog.id}}">修改</a></p>
        {%endif%}
        <div  class="codehilite">
        {{blog.content|safe}}
         </div>
        </p>
        {%endif%}
        <hr>
        <h4>倾听评论</h4>
        <hr>
        {%for com in comment%}
        <a href="/user?pid={{blog.username}}"/>
            {{com.username}}</p></a>
      <pre name="code" class="brush" class="highlight">
       {{com.content|safe}}</pre></div></p>
        {{com.time}}</p>
        {%endfor%}
        

        <form action="" method="post">
            {%csrf_token%}
            评论<textarea  name="content" style="width:20%"></textarea></p>
            提交<input type="submit">
        </form> 
