{%include 'base.html'%}
<h2><p align="right">
            <a href="listblog">查看全部blog</a>
            </p>
            </h2>
            <h3>
                <a href="blog">写blog</a>
            
            
            </h3>
        <h4>
        <p align="right">
        {%block subtitle%}
        {%if username%}
        {{username}}
        {%endif%}
        {%endblock%}
        blog
        <p/>
        </h4>
        <center>
            {%for blog in blog%}
            <h2>
        <a href="/readblog?pid={{blog.id}}">title{{blog.title}}</a><p>
        </h2>
        {{blog.time}}
        </br>
        
        {%endfor%}
    </center>
