<html>
    <head>
        <title>
        login
        </title>
    
    </head>
    <body>
        {% load staticfiles %}
        <img src=static/img/1.jpg alt="My img">
        <a href="listblog">this web all blog</a>
        欢迎来到
        {%if username%}
        {{username}}
        {%endif%}
        blog<p>
        <p>
        {%for blog in blog%}
        <a href="/readblog/{{blog.id}}">title{{blog.title}}</a><p>
        {{blog.content}}<p>
        
        {%endfor%}
       </body>
    <html>
